Repository CodeOfMisanthrope/fp-tendency-demo: changes, and which lefthook commands are due for each by the changed paths.
All: lint, fmt

lint:
  run: yarn eslint {staged_files}

fmt:
  run: yarn prettier {staged_files}

feat: new release v0.0.18
  CHANGELOG.md
  package.json
Due: fmt

publish: updated .npmignore
  .npmignore
Due: none

feat: added iter sync toArray
  src/lib/index.ts
  src/lib/iter/index.ts
  src/lib/iter/sync/to-array/index.ts
  src/lib/iter/sync/to-array/spec.ts
Due: lint, fmt

test: renaming test iter
  src/lib/iter/sync/count/spec.ts
  src/lib/iter/sync/enumerate/spec.ts
  src/lib/iter/sync/filter/spec.ts
  src/lib/iter/sync/first/spec.ts
  src/lib/iter/sync/last/spec.ts
  src/lib/iter/sync/map/spec.ts
  src/lib/iter/sync/repeat/spec.ts
  src/lib/iter/sync/take/spec.ts
  src/lib/iter/sync/to-array/spec.ts
Due: lint, fmt

feat: added iter sync toSet
  src/lib/index.ts
  src/lib/iter/index.ts
  src/lib/iter/sync/to-set/index.ts
  src/lib/iter/sync/to-set/spec.ts
Due: lint, fmt

docs: added desc
  src/lib/iter/sync/to-set/index.ts
Due: lint, fmt

feat: added iter sync slice
  src/lib/index.ts
  src/lib/iter/index.ts
  src/lib/iter/sync/slice/index.ts
  src/lib/iter/sync/slice/spec.ts
Due: lint, fmt

chore: testing iter sync slice
  src/index.ts
Due: lint, fmt

fix: alias to esbuild config
  esbuild.config.ts
Due: lint, fmt

test: fix test
  src/lib/iter/sync/to-array/spec.ts
Due: lint, fmt

feat: updated version to 0.0.19
  package.json
Due: none

feat: added module utils
  src/lib/utils/README.md
  src/lib/utils/index.ts
Due: lint, fmt

feat: added curry
  src/lib/index.ts
  src/lib/utils/curry/index.ts
  src/lib/utils/index.ts
Due: lint, fmt

docs: added desc for curry
  src/lib/utils/curry/index.ts
Due: lint, fmt

test: added test for curry
  src/lib/utils/curry/spec.ts
Due: lint, fmt

chore: testing curry
  src/index.ts
Due: lint, fmt

feat: new version 0.0.20
  package.json
Due: none

feat: added containers
  src/lib/containers/index.ts
Due: lint, fmt

type: added CanVoid
  index.d.ts
Due: lint, fmt

feat: added container result
  src/lib/containers/index.ts
  src/lib/containers/result/index.ts
  src/lib/containers/result/interfaces.ts
Due: lint, fmt

feat: updated container result
  src/lib/containers/result/index.ts
  src/lib/containers/result/interfaces.ts
Due: lint, fmt

hooks: testing lefthook
  src/lib/containers/result/index.ts
Due: lint, fmt

hooks: testing lefthook
  lefthook.yml
  src/lib/containers/result/index.ts
Due: lint, fmt

infra: updated lefthook config
  lefthook.yml
Due: none

style: fmt
  src/lib/containers/result/index.ts
Due: lint, fmt

chore: testing result
  src/index.ts
Due: lint, fmt

test: added tests for container result
  src/lib/containers/result/spec.ts
Due: lint, fmt

feat: updated Result, added unwrap, match, exec.
  src/lib/containers/result/index.ts
Due: lint, fmt

docs: added desc for Result
  src/lib/containers/result/index.ts
Due: lint, fmt

test: updated tests for result
  src/lib/containers/result/spec.ts
Due: lint, fmt

infra: updated main.yml
  .github/workflows/main.yml
Due: none

feat: added exports curry, container Result
  src/lib/index.ts
Due: lint, fmt

feat: added exports container Result, curry
  src/lib/index.ts
Due: lint, fmt

feat: new version 0.0.21
  CHANGELOG.md
  package.json
Due: fmt

Path conditions:
  lint: any of: *.{ts,js}
  fmt: any of: *.{ts,js,md}
