Repository CodeOfMisanthrope/fp-tendency-demo: changes, and which lefthook commands are due for each by the changed paths.
All: lint, fmt

lint:
  run: yarn eslint {staged_files}

fmt:
  run: yarn prettier {staged_files}

docs: added CHANGELOG.md
  CHANGELOG.md
Due: fmt

infra: changed name
  package.json
Due: none

publish: updated .npmignore
  .npmignore
Due: none

docs: added LICENSE
  LICENSE
Due: none

ci: added workflow main.yml
  .github/workflows/main.yml
Due: none

ci: updated workflow main.yml
  .github/workflows/main.yml
Due: none

ci: updated workflow main.yml
  .github/workflows/main.yml
  yarn.lock
Due: none

build: updated lib/index.ts
  src/lib/index.ts
Due: lint, fmt

feat: new version 0.0.2
  CHANGELOG.md
  package.json
Due: fmt

feat: new version 0.0.3
  .github/workflows/main.yml
  .npmignore
  package.json
Due: none

feat: added iter sync filter and fix map
  src/lib/iter/index.ts
  src/lib/iter/sync/filter/index.ts
  src/lib/iter/sync/filter/spec.ts
  src/lib/iter/sync/map/index.ts
  src/lib/iter/sync/map/spec.ts
Due: lint, fmt

feat: new version 0.0.4
  .github/workflows/main.yml
  CHANGELOG.md
  package.json
Due: fmt

feat: added iter sync enumerate
  src/lib/index.ts
  src/lib/iter/index.ts
  src/lib/iter/sync/enumerate/index.ts
  src/lib/iter/sync/enumerate/spec.ts
Due: lint, fmt

feat: new version 0.0.4
  CHANGELOG.md
  package.json
Due: fmt

feat: new version 0.0.6
  package.json
  tsconfig.json
Due: none

ci: updated workflow main
  .github/workflows/main.yml
Due: none

build: fix path in .d.ts files
  package.json
  rollup.config.ts
  tsconfig.json
  yarn.lock
Due: lint, fmt

feat: new release v0.0.7
  package.json
Due: none

feat: new release v0.0.9
  package.json
Due: none

feat: new release v0.0.10
  .npmignore
  package.json
  tsconfig.node.json
Due: none

feat: new release v0.0.11
  .github/workflows/main.yml
  .npmignore
  package.json
Due: none

feat: new release v0.0.12
  package.json
  tsconfig.json
  tsconfig.node.json
Due: none

feat: new release v0.0.13
  .github/workflows/main.yml
  package.json
  tsconfig.json
  tsconfig.node.json
Due: none

feat: new release v0.0.14
  .github/workflows/main.yml
  package.json
Due: none

feat: new release v0.0.15
  .github/workflows/main.yml
  package.json
Due: none

feat: added iter sync take
  src/index.ts
  src/lib/index.ts
  src/lib/iter/index.ts
  src/lib/iter/sync/take/spec.ts
Due: lint, fmt

feat: added iter sync take
  src/lib/iter/sync/take/index.ts
Due: lint, fmt

feat: added iter sync repeat
  src/lib/index.ts
  src/lib/iter/index.ts
  src/lib/iter/sync/repeat/index.ts
  src/lib/iter/sync/repeat/spec.ts
Due: lint, fmt

feat: new release to v0.0.16
  CHANGELOG.md
  package.json
Due: fmt

docs: UPDATED README.md
  README.md
Due: fmt

docs: updated README.md
  README.md
Due: fmt

feat: new release v0.0.17
  .github/workflows/main.yml
  package.json
Due: none

feat: added iter sync count
  src/lib/index.ts
  src/lib/iter/index.ts
  src/lib/iter/sync/count/index.ts
  src/lib/iter/sync/count/spec.ts
Due: lint, fmt

test: changed test name
  src/lib/iter/sync/count/spec.ts
Due: lint, fmt

feat: added iter sync first
  src/lib/index.ts
  src/lib/iter/index.ts
  src/lib/iter/sync/first/index.ts
  src/lib/iter/sync/first/spec.ts
Due: lint, fmt

feat: added iter sync last
  src/lib/index.ts
  src/lib/iter/index.ts
  src/lib/iter/sync/last/index.ts
  src/lib/iter/sync/last/spec.ts
Due: lint, fmt

Path conditions:
  lint: any of: *.{ts,js}
  fmt: any of: *.{ts,js,md}
