Repository CodeOfMisanthrope/fp-tendency-demo: changes, and which lefthook commands are due for each by the changed paths.
All: lint, fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,js}"
      run: yarn eslint {staged_files}
    fmt:
      glob: "*.{ts,js,md}"
      run: yarn prettier {staged_files} --write

pre-push:
  commands:
    test:
      glob: "*spec.ts"
      run: yarn jest {staged_files}

feat: new version 0.0.21
  CHANGELOG.md
Due: fmt

docs: updated README
  README.md
Due: fmt

fix: moduleResolution
  tsconfig.json
Due: none

feat: new version to 0.0.22
  .github/workflows/main.yml
  README.md
  package.json
Due: fmt

fix: moduleResolution to Bundler
  tsconfig.json
Due: none

feat: new version 0.0.23
  package.json
  tsconfig.json
Due: none

infra: updated workflow main
  .github/workflows/main.yml
Due: none

feat: added container option
  src/lib/containers/index.ts
  src/lib/containers/option/index.ts
  src/lib/containers/option/interfaces.ts
  src/lib/containers/option/spec.ts
  src/lib/index.ts
Due: lint, fmt

style: fmt container option
  src/lib/containers/index.ts
  src/lib/containers/option/index.ts
  src/lib/containers/option/interfaces.ts
Due: lint, fmt

chore: testing container option
  src/index.ts
Due: lint, fmt

fix: exec option container
  src/lib/containers/option/index.ts
Due: lint, fmt

test: added tests for option container
  src/lib/containers/option/spec.ts
Due: lint, fmt

test: updated tests for option container
  src/lib/containers/option/spec.ts
Due: lint, fmt

feat: updated Option and added desc
  src/lib/containers/option/index.ts
Due: lint, fmt

style: fmt Option container
  src/lib/containers/option/index.ts
  src/lib/containers/option/spec.ts
Due: lint, fmt

chore: testing Option
  src/index.ts
Due: lint, fmt

docs: updated desc fpr Option container
  src/lib/containers/option/index.ts
Due: lint, fmt

style: fmt Option
  src/lib/containers/option/index.ts
Due: lint, fmt

feat: new release v0.0.23
  CHANGELOG.md
  package.json
Due: fmt
